@using A4U3.Web.ViewComponents
@model Feature

@{
    ViewBag.Title = "Edit";
}

<h2>Edit Feature</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Feature</legend>

        @Html.HiddenFor(model => model.FeatureId)
        @Html.HiddenFor(model => model.PropertyId)

        <div class="row form-group">
            <div class="col-md-2">
                @Html.TextBoxFor(model => model.Description, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Description)
            </div>
        </div>
            <br />
            <input type="submit" value="Save" class="btn btn-success" />
    </fieldset>
}

<div>
    @Html.ActionLink("Back to Property", "Edit", "Rental", new { id = Model.PropertyId }, null)
</div>
<br />

@await Component.InvokeAsync("PropertyPublic", new { propertyId = Model.PropertyId, featureToHighlight = Model.FeatureId, pictureToHighlight = 0 })



@section Scripts {
    
    
    @*@Scripts.Render("~/bundles/jqueryval")*@

    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js" ></script>
}
